{% extends './base.html' %}

{% block title %}Inicio{% endblock %}
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
{% block customCSS %}
<style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color:whitesmoke;
    }
    footer {
        margin-top: 457px;
        background-color:mintcream;
        padding: 20px;
        text-align: center;
    }
</style>
{% endblock %}

{% block body %}
<h1>Bienvenido a la papeleria ANDYLU</h1>
{% endblock %}